{% block sw_text_field %}
{% block sw_url_field %}
<sw-contextual-field
    class="sw-field--url"
    v-bind="$attrs"
    :name="formFieldName"
    @inheritance-restore="$emit('inheritance-restore', $event)"
    @inheritance-remove="$emit('inheritance-remove', $event)"
>
    <template #sw-contextual-field-prefix="{ disabled }">
        <!-- eslint-disable-next-line vuejs-accessibility/click-events-have-key-events -->
        <sw-select-field v-model="urlPrefix" @change="updateActivatedPrefixType"
                         class="sw-field--url-input__prefix">
            <option v-for="prefix in prefixTypes" :value="prefix.prefix">{{ prefix.name }}</option>
        </sw-select-field>
    </template>

    <template #sw-field-input="{ identification, error, disabled, size, setFocusClass, removeFocusClass }">
        {% block sw_url_field_entity_select %}
        <sw-entity-single-select
            v-if="activePrefixType === 'product' || activePrefixType === 'category'"
            :entity="activePrefixType"
            show-clearable-button
            v-model="currentValue"
            >
        </sw-entity-single-select>
        {% endblock %}

        <!-- eslint-disable-next-line vuejs-accessibility/form-control-has-label -->
        <input v-else
            :id="identification"
            type="text"
            class="sw-url-input-field__input"
            :name="identification"
            :value="currentValue"
            :placeholder="placeholder"
            :disabled="disabled"
            @focus="setFocusClass"
            @blur="onBlur($event); removeFocusClass();"
        >
    </template>

    <template
        v-if="copyable"
        #sw-contextual-field-suffix="{ identification }"
    >
        <sw-field-copyable
            v-if="copyable"
            :display-name="identification"
            :copyable-text="currentValue"
            :tooltip="copyableTooltip"
        />
    </template>

    <template #label>
        <slot name="label"></slot>
    </template>

</sw-contextual-field>
    {% endblock %}
{% endblock %}
