// TODO: ANYONE CAN IT MAKE NICE?!
.sw-field--url {
    &-input__prefix {
        display: inline-flex;
        cursor: pointer;
        user-select: none;
        margin: -10px 0 -10px -6px;
    }

    .is--prefix {
        padding: 2px;
    }

    .sw-select {
        margin: -1px;
    }

    .sw-select__selection {
        width: 100%;
    }
}
